fastapi~=0.110.1
uvicorn[standard]
pydantic<2.0.0
beautifulsoup4
Scrapy
Requests
psutil
csv
pandas
nltk
scikit-learn
SpaCy
gensim
scipy
textblob
rake_nltk
transformers
torch
yake
sentence_transformers
numpy
gensim
numpy
seaborn
matplotlib
textdistance
